spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://{host::localhost}?[:{port::3306}][/{database}?][\?<&,user={user},password={password},{:identifier}={:identifier}>]
    driver-class-name: com.mysql.cj.jdbc.Driver
