// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;//激活文字颜色
$subMenuActiveText:#f4f4f5;

$menuBg:#304156; //侧边栏按钮北京颜色
$menuHover:#263445;//鼠标触碰颜色

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
